.leftside,
.rightside {
  height: 50vh;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .leftside,
  .rightside {
    height: 100vh;
  }
}

.leftside {
  background: #272932;
  color: #4d7ea8;
}

.rightside {
  background: #828489;
}

#playerNameDiv {
  font: bold;
  color: #b6c2d9;
}

#rolesDiv {
  color: #4d7ea8;
}
